<!--{% if data %}-->
<!--    <h1>{{data}}</h1>-->
<!--{% else %}-->
<!--    <p>Data was not found...</p>-->
<!--{% endif %}-->

<!--{% for x in data %}-->
<!--    <li>{{x|lower|capfirst}}</li>-->
<!--{% endfor %}-->

<!--
{% if data|length > 5 %}
    <h1>{{data}} length > 5</h1>
{% else %}}
    <h1>{{data}} length <= 5</h1>
{% endif %}-->



<!--{% for course in data %}-->
<!--    <h1>{{ course.course_name|lower|capfirst|add:'End' }}</h1>-->
<!--    {% for student in course.students %}-->
<!--        <li>Name: {{student.name}} | Lastname: {{student.lname}} | Age: {{student.age}} </li>-->
<!--    {% endfor %}-->
<!--{% endfor %}-->

<!--{% include 'footer.html' %} &lt;!&ndash; გადმოაქვს სხვა html ფაილი &ndash;&gt;-->

{{ form }}
